
@{
    Layout = null;
    var visor = Session["visor"].ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta name="description" content="Calculadora Completa" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h2>Calculadora</h2>
    <div>
        <table style="border-spacing:5px;
                      border-collapse:collapse;
                      border: 1px solid #e18118;">
            <tr>
                <td colspan="5">
                    <input type="text" name="visor" id="visor" value="@visor" readonly="readonly" 
                           style="height:30px; width:215px; text-align:right;" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="bt" value="7" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="8" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="9" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="/" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="C" class="btn btn-default" style="height:40px;width:40px" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="bt" value="4" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="5" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="6" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="*" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="+/-" class="btn btn-default" style="height:40px;width:40px" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="bt" value="1" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="2" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="3" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="-" class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td rowspan="2">
                    <input type="submit" name="bt" value="=" class="btn btn-danger" style="height:85px;width:40px" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="bt" value="0" class="btn btn-default" style="height:40px;width:85px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="," class="btn btn-default" style="height:40px;width:40px" />
                </td>
                <td>
                    <input type="submit" name="bt" value="+" class="btn btn-default" style="height:40px;width:40px" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
